# =========================================
# 🔐 SERVER
# =========================================
PORT=3000

# =========================================
# 🗄️ PostgreSQL DATABASE
# =========================================
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgresuser
DB_PASSWORD=passhere
DB_DATABASE=railwaydb

# =========================================
# 🔑 AUTH & SECURITY
# =========================================
JWT_SECRET=
LICENSE_SECRET=
# =========================================
# WEB
# =========================================

PROTOCOL=http
HOST=192.1.1.1
PORT=3000

## principal credentials 
username=Admin
password=123


# =========================================
# ⚙️ OPTIONAL SETTINGS
# =========================================

# CORS_ORIGIN=http://localhost:5173
# LOG_LEVEL=debug
LICENSE_PRIVATE_KEY=""
