# Node
node_modules/

# Build
dist/

# Env
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Typescript
*.tsbuildinfo

# Optional
coverage/

#md innecessary files

project-context.md
project-contexttest.md